<header class="pc-header">
    <div class="logo">
        <a href="/"><img src="../../assets/images/svg/Logo.svg" alt="logo">
            <span class="logo-text">KLIK<span class="logo-highlight">AVA</span></span>
        </a>
    </div>
    <nav class="main-nav">
        <ul class="nav-links">
            <li><a href="/discounts">DISCOUNTS</a></li>
            <li><a href="/top-products" class="not-first">TOP PRODUCTS</a></li>
            <li><a href="/categories" class="not-first">CATEGORIES</a></li>
        </ul>
    </nav>
    <div class="header-controls">
        <button class="login-btn">LOG IN</button>
        <button class="switchable"><img src="../../assets/images/svg/Person.svg" alt="person"></button>
        <button><img src="../../assets/images/svg/Cart.svg" alt="cart"></button>
        <button id="lang" (click)="toggleLanguageDropdown()">
            <img src="../../assets/images/svg/Language.svg" alt="language">
        </button>
        <button class="switchable"><img src="../../assets/images/svg/Menu.svg" alt="menu"></button>
    </div>
    <div class="search-container">
        <input type="text" placeholder="SEARCH...">
        <button ><img src="../../assets/images/svg/Search.svg" alt="cart"></button>
    </div>
    <section class="language-container" 
        [class.active]="isLangActive"
        [class.fade-out]="isFadingOut"
        #langContainer>
        <span>Language</span>
        <ul class="languages">
            <li><img src="../../assets/images/svg/America.svg" alt="english">English</li>
            <li><img src="../../assets/images/svg/Russia.svg" alt="russian">Russian</li>
            <li><img src="../../assets/images/svg/Ukraine.svg" alt="ukrainian">Ukrainian</li>
        </ul>
        <span class="currency-text">Currency</span>
        <ul class="currency">
            <li><img src="../../assets/images/svg/America.svg" alt="usd">USD</li>
            <li><img src="../../assets/images/svg/Ukraine.svg" alt="uah">UAH</li>
        </ul>
    </section>
</header>