@use "../../assets/variables.scss" as *;
@use "../../assets/functions.scss" as *;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .4s;
    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: auto;
    }
}
.blur {
    backdrop-filter: blur(px-to-rem(6));
    z-index: 4;
}
.blackout { z-index: 10; }
.pc-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 px-to-rem(100);
    padding: px-to-rem(15 37 20);
    background: $black;
    border-radius: px-to-rem(0 0 60 60);
    box-shadow: 0 px-to-rem(5) px-to-rem(5) rgba(0, 0, 0, 0.25);
    z-index: 10;

    @include media-breakpoint-down(md) {
        margin: 0;
        padding: px-to-rem(33 14);
        border-radius: 0;
    }
    .logo {
        img {
            width: px-to-rem(47);
            height: px-to-rem(47);

            @include media-breakpoint-between(md, 1520) {
                width: px-to-rem(37);
                height: px-to-rem(37);
            }
            @include media-breakpoint-down(md) {
                width: px-to-rem(27);
                height: px-to-rem(27); 
            }
        }
        a {
            display: flex;
            align-items: center;
            text-decoration: none; 
        }
        &-text {
            margin-left: px-to-rem(18);
            color: $white;
            font-size: px-to-rem(48);
            font-weight: 500;

            @include media-breakpoint-between(md, 1520) { font-size: px-to-rem(36); }
            @include media-breakpoint-down(md) {
                margin:px-to-rem(-5 0 0 11);
                font-size: px-to-rem(24); 
            }
        }
        &-highlight { 
            margin:0;
            color: $green; 
        }
    }
    .main-nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @include media-breakpoint-between(md, 1085) { transform: translateX(-45%); }
        @include media-breakpoint-down(md) { display: none; }
        .nav-links {
            display: flex;
            list-style: none;
            justify-content: space-between;
            padding: 0;

            @include media-breakpoint-between(md, 1520) { margin-top:px-to-rem(17); }
            a {
                margin-right: px-to-rem(60);
                color: $white;
                text-decoration: none;
                font-size: px-to-rem(24);
                transition: .15s;

                &:hover { color: $light-green; }
                @include media-breakpoint-between(md, 1520) {
                    margin-right: px-to-rem(20);
                    font-size: px-to-rem(14);
                }
            }
            li:last-child a { margin-right: 0; }
        }
    }
    .catalog-container {
        position: absolute;
        top: px-to-rem(77);
        left: 50%;
        transform: translateX(-49.4%);
        display: flex;
        padding: px-to-rem(20);
        height: px-to-rem(537);
        width: px-to-rem(1082);
        background: $white;
        border-radius: px-to-rem(12);
        z-index: 15;
        transition: .4s;
        opacity: 0;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }
        &.fade-out {
            opacity: 0;
            pointer-events: none;
        }
        @include media-breakpoint-between(md, 1400) {
            top: px-to-rem(62);
            height: px-to-rem(650);
            width: px-to-rem(800);
        }
        @include media-breakpoint-down(md) { display: none; }
        .left-container {
            margin-left: px-to-rem(5);
            padding-right: px-to-rem(25);
            font-size: px-to-rem(16);
            overflow: auto;

            @include media-breakpoint-between(md, 1400) { font-size: px-to-rem(13); }
            ul {
                margin-top: 0;
                padding: 0;
                list-style: none;

                li:not(:first-child) { margin-top: px-to-rem(10); }
                li {
                    align-content: center;
                    padding-left: px-to-rem(6);
                    height: px-to-rem(40);
                    width: px-to-rem(245);
                    border-radius: px-to-rem(10);
                    cursor: pointer;
                    transition: .25s;

                    &:hover { background-color: $body-white; }
                    @include media-breakpoint-between(md, 1400) {
                        height: px-to-rem(30);
                        width: px-to-rem(200);
                    }
                }
                .selected-category { background: $body-white; }
            }
        }
        .right-container{
            display: flex;
            flex-direction: column;
            margin: px-to-rem(-4 0 0 22);

            span {
                color: $grey;
                font-size: px-to-rem(32);
                font-weight: 600;

                @include media-breakpoint-between(md, 1400) { font-size: px-to-rem(24); }
            }
            hr {
                margin-top: px-to-rem(4);
                width: px-to-rem(735);

                @include media-breakpoint-between(md, 1400) { width: px-to-rem(500); }
            }
            .catalog {
                margin: px-to-rem(-9 0 0 6);
                column-width: px-to-rem(245);
                column-gap: px-to-rem(20);
                overflow: hidden;

                ul {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap; 
                    gap: px-to-rem(8);
                    max-height: px-to-rem(450);
                    padding: 0;
                    list-style: none;
                    break-inside: avoid;
                    font-size: px-to-rem(16);

                    @include media-breakpoint-between(md, 1400) {
                        font-size: px-to-rem(13); 
                        max-height: px-to-rem(600);
                    }
                    li {
                        align-content: center;
                        break-inside: avoid;
                        padding-left: px-to-rem(6);
                        height: px-to-rem(40);
                        width: px-to-rem(245);
                        border-radius: px-to-rem(10);
                        cursor: pointer;
                        transition: .25s;

                        &:hover { background-color: $body-white; }
                        @include media-breakpoint-between(md, 1400) {
                            height: px-to-rem(30);
                            width: px-to-rem(200);
                        }
                    }
                }
            }
        }
    }
    .header-controls {
        display: flex;
        align-items: center;
        gap: px-to-rem(15);
        
        button {
            padding: 0;
            background: none;
            border: none;
            color: $white;
            font-weight: 400;
            cursor: pointer;
            transition: .25s ease-in-out;

            &:hover {
                transform: scale(1.05);
                color: $light-green;
                
                img {
                    filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(150deg) contrast(1);
                }
            }
            &:active { transform:scale(0.95); }
            img {
                width: px-to-rem(24);
                height: px-to-rem(24);
                filter: brightness(0) invert(1);
            }
        }
        #lang { @include media-breakpoint-down(md) { display: none; } }
        .switchable {
            display:none;
            @include media-breakpoint-down(md) { display: block; }
        }
        .login-btn {
            text-transform: uppercase;
            font-weight: 400;
            font-size: px-to-rem(24);

            @include media-breakpoint-between(md, 1520) { font-size: px-to-rem(14); }
            @include media-breakpoint-down(md) { display: none; }
        }
    }
    .search-container {
        position: absolute;
        display: flex;
        align-items:center;
        justify-content: space-evenly;
        top: px-to-rem(77);
        right: px-to-rem(225);
        background-color: $green;
        border-radius: px-to-rem(20);
        z-index: 7;
        transition: .2s;

        &:hover { background:$light-green; }
        @include media-breakpoint-between(1521, 1775) { right: px-to-rem(160); }
        @include media-breakpoint-between(md, 1520) {
            top: px-to-rem(62);
            right: px-to-rem(130);
        }
        @include media-breakpoint-down(md) {
            top: px-to-rem(77);
            right: 50%;
            transform: translateX(50%);
        }
        input {
            padding: px-to-rem(10 10 10 27);
            width: px-to-rem(245);
            height: px-to-rem(10);
            background: transparent;
            border: none;
            outline: none;
            color: $black;
            font-size: px-to-rem(16);
            font-weight:400;

            &::placeholder {
                color: $black;
                opacity: 0.8;
            }
            @include media-breakpoint-between(1521, 1775) { width: px-to-rem(220); }
            @include media-breakpoint-between(md, 1520) { width: px-to-rem(200); }
        }
        button {
            display: flex;
            padding: px-to-rem(5);
            background: transparent;
            border: none;
            cursor: pointer;
            transition: .15s;

            &:hover { transform: scale(1.1); }
            &:active { transform:scale(0.9); }
            img {
                margin-right: px-to-rem(10);
                width: px-to-rem(37);
                height: px-to-rem(25);
            }
        }
    }
    .language-container {
        position: absolute;
        top: px-to-rem(77);
        right: px-to-rem(-85);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: px-to-rem(10 5 0 5);
        background: $white;
        border-radius: px-to-rem(12);
        font-size: px-to-rem(16);
        pointer-events: none;
        opacity: 0;
        transition: .4s;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }
        &.fade-out {
            opacity: 0;
            pointer-events: none;
        }
        @include media-breakpoint-between(md, 1520) { top: px-to-rem(62); }
        @include media-breakpoint-down(md) { display: none; }
        ul {
            margin-top: px-to-rem(14);
            padding: 0;
            list-style: none;

            li:first-child { background: $border-white;}
            li {
                margin: px-to-rem(-1 0);
                display: flex;
                align-items: center;
                padding: px-to-rem(0 16);
                width: px-to-rem(266);
                height: px-to-rem(40);
                border: px-to-rem(1) solid $border-white;
                border-radius: px-to-rem(8);

                @include media-breakpoint-between(1521, 1775) {
                    width: px-to-rem(225);
                    height: px-to-rem(35); 
                }
                @include media-breakpoint-between(md, 1520) {
                    width: px-to-rem(200);
                    height: px-to-rem(32); 
                }
            }
            img { margin-right: px-to-rem(15); }
        }
        .currency-text { margin: px-to-rem(2 0 0 2); }
    }
    .menu-container {
        position: absolute;
        top: px-to-rem(95);
        left: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        margin: 0;
        height: px-to-rem(499);
        width: 100%;
        background: $white;
        font-size: px-to-rem(16);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        z-index: 5;
        transition: .4s;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }
        &.fade-out {
            opacity: 0;
            pointer-events: none;
        }
        @include media-breakpoint-down(md) { display: flex; }
        ul {
            list-style: none;
            text-align: center;
            padding: 0;
        }
        .links-li {
            margin-top: px-to-rem(30);

            li:not(:first-child) { margin-top: px-to-rem(22.5); }
            a {
                color: black;
                text-decoration: none;
                font-size: px-to-rem(24);
                transition: .25s;

                &:hover { color: $light-green; }
            }
        }
        .language-text { margin: px-to-rem(11 0 0 8); }
        .languages {
            margin: px-to-rem(14 0 0 6);

            li:first-child { background: $border-white;}
            li {
                margin: px-to-rem(-1 0);
                display: flex;
                align-items: center;
                padding: px-to-rem(0 16);
                width: px-to-rem(266);
                height: px-to-rem(40);
                border: px-to-rem(1) solid $border-white;
                border-radius: px-to-rem(8);

                img { margin-right: px-to-rem(15); }
            }
        }
        .currency-text { margin: px-to-rem(16 0 0 8); }
        .currency {
            margin: px-to-rem(14 0 0 6);

            li:first-child { background: $border-white;}
            li {
                margin: px-to-rem(-1 0);
                display: flex;
                align-items: center;
                padding: px-to-rem(0 16);
                width: px-to-rem(266);
                height: px-to-rem(40);
                border: px-to-rem(1) solid $border-white;
                border-radius: px-to-rem(8);

                img { margin-right: px-to-rem(15); }
            }
        }
        .catalog {
            margin-top: px-to-rem(35);
            padding: 0;
            list-style: none;
            text-align: left;
            color: $grey;

            li:not(:first-child) { margin-top: px-to-rem(10); }
            li {
                align-content: center;
                padding-left: px-to-rem(6);
                height: px-to-rem(40);
                width: px-to-rem(245);
                border-radius: px-to-rem(10);
                transition: .25s;

                &:hover { background-color: $body-white; }
                @include media-breakpoint-between(md, 1400) {
                    height: px-to-rem(30);
                    width: px-to-rem(200);
                }
            }
        }
        .categories {
            li { margin: px-to-rem(3 0 0 -48); }
        }
        .subcategories {
            li { margin: px-to-rem(22 0 0 -48); }
        }
        .menu-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: px-to-rem(10 15);
            margin-top: px-to-rem(10);
        }
        .subcategories { margin-top: px-to-rem(15); }
    }
}