<header class="pc-header">
    <div class="container">
        <div div class="header-content">
            <div class="logo">
                <a href="/"><span class="logo-text">BUY<span class="logo-highlight">WAY</span></span></a>
            </div>
            <nav class="main-nav">
                <ul class="nav-links">
                    <li><a href="/discounts">DISCOUNTS</a></li>
                    <li><a href="/top-products">TOP PRODUCTS</a></li>
                    <li><a href="/categories">CATEGORIES</a></li>
                </ul>
            </nav>
            <div class="header-controls">
                <a href="/login" class="login-btn">LOG IN</a>
                <a href="/cart"><i></i></a>
                <a href="/language"><i></i></a>
                <div class="search-container">
                    <input type="text" placeholder="SEARCH...">
                    <button ><i></i></button>
                </div>
            </div>
        </div>
    </div>
</header>