<div class="menu-overlay" [class.active]="isMenuActive"></div>
<header class="pc-header">
    <div class="logo">
        <a href="/"><img src="../../assets/images/svg/Logo.svg" alt="logo">
            <span class="logo-text">KLIK<span class="logo-highlight">AVA</span></span>
        </a>
    </div>
    <!-- Меню хедера -->
    <nav class="main-nav">
        <ul class="nav-links">
            <li><a href="/discounts">DISCOUNTS</a></li>
            <li><a href="/top-products" class="not-first">TOP PRODUCTS</a></li>
            <li><a href="#" class="not-first" (click)="toggleCatalogDropdown()">CATEGORIES</a></li>
        </ul>
    </nav>
    <!-- Выпадающее окно каталога категорий -->
    <section class="catalog-container"
        [class.active]="isCatalogActive"
        [class.fade-out]="isCatalogFadingOut"
        #catalogContainer>
        <div class="left-container">
            <ul>
                <li>Mobile phones</li>
                <li>Computers</li>
                <li>Electronics</li>
                <li>Home Appliances</li>
                <li>Home Improvement & Tools</li>
                <li>Security & Protection</li>
                <li>Automobiles & Motorcycles</li>
                <li>Home, Garden & Office</li>
                <li>Furniture</li>
                <li>Clothing</li>
                <li>Shoes</li>
                <li>Accesoires</li>
                <li>Luggage & Bags</li>
                <li>Sports & Entertainment</li>
                <li>Mother & Kids</li>
                <li>Toys & Hobbies</li>
                <li>Beauty & Health</li>
                <li>18+</li>
                <li>Pet Products</li>
                <li>Food</li>
            </ul>
        </div>
        <div class="right-container">
            <span>Mobile Phones</span><hr>
            <div class="catalog">
                <ul>
                    <li>Mobile Phones</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Кнопки хедера -->
    <div class="header-controls">
        <button class="login-btn">LOG IN</button>
        <button class="switchable"><img src="../../assets/images/svg/Person.svg" alt="person"></button>
        <button><img src="../../assets/images/svg/Cart.svg" alt="cart"></button>
        <button id="lang" (click)="toggleLanguageDropdown()">
            <img src="../../assets/images/svg/Language.svg" alt="language">
        </button>
        <button class="switchable" (click)="toggleMenuDropdown()">
            <img src="../../assets/images/svg/Menu.svg" alt="menu">
        </button>
    </div>
    <!-- Поле поиска -->
    <div class="search-container">
        <input type="text" placeholder="SEARCH...">
        <button ><img src="../../assets/images/svg/Search.svg" alt="cart"></button>
    </div>
    <!-- Язык и валюта -->
    <section class="language-container" 
        [class.active]="isLangActive"
        [class.fade-out]="isLangFadingOut"
        #langContainer>
        <span>Language</span>
        <ul class="languages">
            <li><img src="../../assets/images/svg/America.svg" alt="english">English</li>
            <li><img src="../../assets/images/svg/Russia.svg" alt="russian">Russian</li>
            <li><img src="../../assets/images/svg/Ukraine.svg" alt="ukrainian">Ukrainian</li>
        </ul>
        <span class="currency-text">Currency</span>
        <ul class="currency">
            <li><img src="../../assets/images/svg/America.svg" alt="usd">USD</li>
            <li><img src="../../assets/images/svg/Ukraine.svg" alt="uah">UAH</li>
        </ul>
    </section>
    <!-- Выпадающее меню телефонной версии -->
    <section class="menu-container"
        [class.active]="isMenuActive"
        [class.fade-out]="isMenuFadingOut"
        #menuContainer>
        <ul class="links-li">
            <li><a href="/discounts">CATEGORIES</a></li>
            <li><a href="/top-products" class="not-first">TOP PRODUCTS</a></li>
            <li><a href="/categories" class="not-first">DISCOUNTS</a></li>
        </ul>
        <span class="language-text">Language</span>
        <ul class="languages">
            <li><img src="../../assets/images/svg/America.svg" alt="english">English</li>
            <li><img src="../../assets/images/svg/Russia.svg" alt="russian">Russian</li>
            <li><img src="../../assets/images/svg/Ukraine.svg" alt="ukrainian">Ukrainian</li>
        </ul>
        <span class="currency-text">Currency</span>
        <ul class="currency">
            <li><img src="../../assets/images/svg/America.svg" alt="usd">USD</li>
            <li><img src="../../assets/images/svg/Ukraine.svg" alt="uah">UAH</li>
        </ul>
    </section>
</header>