<section class="profile-panel">
    <div class="top-panel">
        <div class="image-box">
            <img src="../../../assets/images/svg/Avatar.svg" alt="avatar">
            <div><div><img src="../../../assets/images/svg/Upload.svg" alt="upload"></div></div>
        </div>
        <div class="control-panel">
            <span>First Name</span>
            <button>Женя<img src="../../../assets/images/svg/Settings.svg" alt="settings"></button>
            <span>Last Name</span>
            <button>Тимофеев<img src="../../../assets/images/svg/Settings.svg" alt="settings"></button>
        </div>
    </div>
    <div class="bottom-panel">
        <span>Role</span>
        <button>Admin</button>
        <span>About Me</span>
        <textarea></textarea>
        <button class="save">Save</button>
    </div>
</section>