<div class="dashboard-container">
    <h1 class="dashboard-title">Last 7 days</h1>
    <div class="chart-field">
      <div class="mini-line"></div>
      <div class="full-line"></div>
      <div class="mini-line"></div>
      <div class="full-line"></div>
      <div class="mini-line"></div>
      <div class="full-line"></div>
      <div class="mini-line"></div>
      <div class="new-full-line"></div>
      <div class="tick-line"></div>
      <div class="tick-square"></div>
      <div class="tick-line"></div>
      <div class="tick-line"></div>
      <div class="tick-line"></div>
      <div class="tick-line"></div>
      <div class="tick-line"></div>
      <div class="tick-line"></div>
      <div class="tick-line"></div>
      <div class="tick-line"></div>
      <div class="sub-fields">
        <div class="sub-field">
          <span class="sub-field-label">Views</span>
          <span class="sub-field-value">1</span>
        </div>
        <div class="sub-field">
          <span class="sub-field-label">Purchased</span>
          <span class="sub-field-value">0</span>
        </div>
        <div class="sub-field">
          <span class="sub-field-label">Favorite</span>
          <span class="sub-field-value">0</span>
        </div>
        <div class="sub-field">
          <span class="sub-field-label">Comments</span>
          <span class="sub-field-value">0</span>
        </div>
      </div>
    </div>
  </div>