<div class="return-refund-container">
  <div class="header">
    <img class="back-arrow" src="assets/images/arrowBack.png" alt="Back" (click)="goBack()">
    <h2>Return/Refund</h2>
  </div>
  <div class="return-refund-card">
    <img class="return-refund-image" src="assets/images/Bear.jpg" alt="Return Refund Image">
    <div class="return-refund-text-block">
      <div class="return-refund-text-header">
        <div class="return-refund-info-row">
          <div class="return-refund-info">
            <span>Reason for return</span>
          </div>
          <div class="return-refund-product-info">
            <span>Product image</span>
          </div>
        </div>
        <div class="return-refund-add-block">
          <textarea class="return-refund-input" placeholder=""></textarea>
          <div class="return-refund-add-details">
            <div class="return-refund-add-label-row">
              <div class="return-refund-add-label">
                <span>Add</span>
              </div>
              <textarea class="return-refund-add-input" placeholder=""></textarea>
            </div>
            <div class="return-refund-rating-row">
              <div class="return-refund-submit-button">
                <span>Return/Refund</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>