<section class="settings-panel">
    <span class="caption">Account details</span>
    <div class="inputs-container">
        <div class="left-inputs">
            <span>First Name</span>
            <button>Женя<img src="../../../assets/images/svg/Settings.svg" alt="settings"></button>
            <span>Email</span>
            <button>lokider6&#64;gmail.com<img src="../../../assets/images/svg/Settings.svg" alt="settings"></button>
            <span>Country</span>
            <button>Ukraine<img src="../../../assets/images/svg/Settings.svg" alt="settings"></button>
            <span>Address></span>
            <button>Puskina 32<img src="../../../assets/images/svg/Settings.svg" alt="settings"></button>
        </div>
        <div class="right-inputs">
            <span>Last Name</span>
            <button>Тимофеев<img src="../../../assets/images/svg/Settings.svg" alt="settings"></button>
            <span>Phone</span>
            <button>+380 066 901 1206<img src="../../../assets/images/svg/Settings.svg" alt="settings"></button>
            <span>City</span>
            <button>Odesa<img src="../../../assets/images/svg/Settings.svg" alt="settings"></button>
            <span>Password</span>
            <button>*************<img src="../../../assets/images/svg/Settings.svg" alt="settings"></button>
            <div class="bottom-buttons">
                <button class="delete">Delete Account Permanently</button>
                <button class="save">Save</button>
            </div>
        </div>
    </div>
</section>