<div class="profile" *ngIf="isProfileVisible" [class.profile-closing]="isProfileClosing">
    <div class="first-column">
        <span>User Name</span>
        <img src="../../../assets/images/svg/User.svg" alt="user">
    </div>
    <ul>
        <li [routerLink]="['/admin/settings']">
            <img src="../../../assets/images/svg/Settings2.svg" alt="settings2">
            <span>Settings</span>
            <span>&#9658;</span>
        </li>
        <li>
            <img src="../../../assets/images/svg/Network.svg" alt="network">
            <span>Languages</span>
        </li>
        <li>
            <img src="../../../assets/images/svg/Logout.svg" alt="logout">
            <span>Log out</span>
            <span>&#9658;</span>
        </li>
    </ul>
</div>
<section class="users-panel">
    <div class="top-search">
        <img id="search" src="../../../assets/images/svg/GlobalSearch.svg" alt="search">
        <input type="text" placeholder="Global search..." [(ngModel)]="globalSearchText">
        <img id="user" src="../../../assets/images/svg/User.svg" alt="user" (click)="toggleProfile()">
    </div>
    <div class="bottom-search">
        <div class="input-wrapper">
            <img id="search" src="../../../assets/images/svg/GlobalSearch.svg" alt="search">
            <input type="text" placeholder="Search..." [(ngModel)]="searchText">
            <img id="settings" src="../../../assets/images/svg/Settings.svg" alt="settings">
        </div>
        <button>Add New</button>
    </div>
    <div class="catalog-container">
        <table>
            <colgroup>
                <col style="width: 3.8%">
                <col style="width: 5%">
                <col style="width: 16.5%">
                <col style="width: 11.5%">
                <col style="width: 12%">
                <col style="width: 15.2%">
                <col style="width: 12.8%">
                <col style="width: 9.5%">
            </colgroup>
            <thead>
                <tr>
                    <th><input type="checkbox" [checked]="allSelected" (change)="toggleSelectAll()"></th>
                    <th>Name</th>
                    <th>SKU</th>
                    <th>Stok</th>
                    <th>Price</th>
                    <th>Categories</th>
                    <th>Tags</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of paginatedProducts">
                    <td><input type="checkbox"></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.stok }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.categories }}</td>
                    <td>{{ product.tags }}</td>
                    <td>{{ product.date }}</td>
                    <td><img src="../../../assets/images/svg/Close.svg" alt="close"></td>
                </tr>
                <tr *ngIf="paginatedProducts.length === 0">
                    <td colspan="6" class="no-data">No products found</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bottom-buttons">
        <button>Trash selected</button>
        <button>Filter selected</button>
    </div>
    <div class="pagination">
        <span>Rows per page:</span>
        <select name="pages" [ngModel]="pageSize" (change)="onPageSizeChange($event)">
            <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
        </select>
        <span id="page-info">{{ pageInfo }}</span>
        <div class="arrows">
            <button (click)="goToFirstPage()" [disabled]="currentPage === 1">&laquo;</button>
            <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">&lsaquo;</button>
            <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">&rsaquo;</button>
            <button (click)="goToLastPage()" [disabled]="currentPage === totalPages">&raquo;</button>
        </div>
    </div>
</section>