@use "../../../assets/variables.scss" as *;
@use "../../../assets/functions.scss" as *;

.favorites-container {
  width: px-to-rem(1255);
  margin-left: px-to-rem(23);
  margin-top: px-to-rem(3);

  @include media-breakpoint-down(sm) {
    width: px-to-rem(375);
    margin-left: 0;
    margin-top: 0;
  }

  @include media-breakpoint-between(sm, md) {
    width: px-to-rem(550);
    margin-left: px-to-rem(10);
    margin-top: px-to-rem(5);
  }

  @include media-breakpoint-between(md, lg) {
    width: px-to-rem(600);
    margin-left: px-to-rem(15);
    margin-top: px-to-rem(5);
  }

  @include media-breakpoint-between(lg, xl) {
    width: px-to-rem(750);
    margin-left: px-to-rem(20);
    margin-top: px-to-rem(5);
  }
}

.tabs-wrapper {
  position: relative;
  width: 100%;
}

.tabs {
  width: px-to-rem(877);
  height: px-to-rem(44);
  margin-left: px-to-rem(17);
  margin-top: px-to-rem(25);
  margin-bottom: px-to-rem(20);
  display: flex;
  align-items: center;

  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-left: 0;
    margin-top: px-to-rem(10);
    margin-bottom: px-to-rem(12);
    padding-left: 0;
    padding-right: px-to-rem(20);
  }

  @include media-breakpoint-between(sm, md) {
    width: 100%;
    height: px-to-rem(40);
    margin-left: px-to-rem(10);
    margin-top: px-to-rem(15);
    margin-bottom: px-to-rem(15);
    padding-right: px-to-rem(20);
  }

  @include media-breakpoint-between(md, lg) {
    width: px-to-rem(550);
    height: px-to-rem(42);
    margin-left: px-to-rem(15);
    margin-top: px-to-rem(20);
    margin-bottom: px-to-rem(15);
  }

  @include media-breakpoint-between(lg, xl) {
    width: px-to-rem(750);
    height: px-to-rem(44);
    margin-left: px-to-rem(20);
    margin-top: px-to-rem(20);
    margin-bottom: px-to-rem(15);
  }
}

.back-arrow {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
    width: px-to-rem(15);
    height: px-to-rem(25);
    filter: brightness(0);
    cursor: pointer;
    margin-left: px-to-rem(30);
    margin-right: px-to-rem(15);
  }

  @include media-breakpoint-between(sm, md) {
    display: block;
    width: px-to-rem(15);
    height: px-to-rem(25);
    filter: brightness(0);
    cursor: pointer;
    margin-left: px-to-rem(20);
    margin-right: px-to-rem(15);
  }
}

.title {
  background-color: transparent;
  border-radius: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: px-to-rem(36);
  line-height: 100%;
  letter-spacing: 0%;
  color: $black;
  text-decoration: none;
  text-transform: capitalize;

  @include media-breakpoint-down(sm) {
    font-size: px-to-rem(36);
    white-space: nowrap;
  }

  @include media-breakpoint-between(sm, md) {
    font-size: px-to-rem(32);
    white-space: nowrap;
  }

  @include media-breakpoint-between(md, lg) {
    font-size: px-to-rem(32);
    white-space: nowrap;
  }

  @include media-breakpoint-between(lg, xl) {
    font-size: px-to-rem(34);
    white-space: nowrap;
  }
}

.cards-container {
  margin-top: px-to-rem(35);
  margin-left: px-to-rem(-17);
  display: flex;
  gap: 5px;

  @include media-breakpoint-down(sm) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 px-to-rem(10);
    margin-left: 0;
    gap: px-to-rem(20);
    overflow-y: auto;
    max-height: calc(100vh - px-to-rem(100));
  }

  @include media-breakpoint-between(sm, md) {
    width: 100%;
    max-width: px-to-rem(550);
    flex-wrap: wrap;
    justify-content: center;
    gap: px-to-rem(15);
    margin-left: 0;
  }

  @include media-breakpoint-between(md, lg) {
    width: 100%;
    max-width: px-to-rem(600);
    flex-wrap: wrap;
    justify-content: center;
    gap: px-to-rem(20);
    margin-left: 0;
  }

  @include media-breakpoint-between(lg, xl) {
    width: 100%;
    max-width: px-to-rem(750);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: px-to-rem(20);
    margin-left: 0;
  }
}

.card {
  width: px-to-rem(618);
  height: px-to-rem(216);
  border: px-to-rem(1) solid $greyish;
  border-radius: px-to-rem(10);
  background-color: $white;
  margin-left: px-to-rem(15);
  display: flex;

  @include media-breakpoint-down(sm) {
    width: px-to-rem(335);
    height: px-to-rem(421);
    border-radius: px-to-rem(10);
    margin-left: 0;
    display: block;
  }

  @include media-breakpoint-between(sm, md) {
    width: px-to-rem(360);
    height: px-to-rem(420);
    border-radius: px-to-rem(20);
    margin-left: 0;
    display: block;
  }

  @include media-breakpoint-between(md, lg) {
    width: px-to-rem(370);
    height: px-to-rem(430);
    border-radius: px-to-rem(20);
    margin-left: 0;
    display: block;
  }

  @include media-breakpoint-between(lg, xl) {
    width: 100%;
    max-width: none;
    height: px-to-rem(435);
    border-radius: px-to-rem(20);
    margin-left: 0;
    display: block;
  }

  .product-image {
    width: px-to-rem(208);
    height: px-to-rem(176);
    margin-left: px-to-rem(20);
    margin-top: px-to-rem(20);
    border-radius: px-to-rem(20);
    object-fit: cover;

    @include media-breakpoint-down(sm) {
      width: px-to-rem(295);
      height: px-to-rem(176);
      margin-left: px-to-rem(20);
      margin-top: px-to-rem(20);
      border-radius: px-to-rem(20);
    }

    @include media-breakpoint-between(sm, md) {
      width: px-to-rem(308);
      height: px-to-rem(230);
      margin-top: px-to-rem(11);
      border-radius: px-to-rem(20);
    }

    @include media-breakpoint-between(md, lg) {
      width: px-to-rem(328);
      height: px-to-rem(240);
      margin-top: px-to-rem(11);
      border-radius: px-to-rem(20);
    }

    @include media-breakpoint-between(lg, xl) {
      width: px-to-rem(303);
      height: px-to-rem(242);
      margin-top: px-to-rem(11);
      border-radius: px-to-rem(20);
    }
  }

  .content {
    margin-left: px-to-rem(20);
    width: px-to-rem(340);
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      width: 100%;
    }

    @include media-breakpoint-between(sm, md) {
      width: px-to-rem(338);
      margin-left: 0;
    }

    @include media-breakpoint-between(md, lg) {
      width: px-to-rem(348);
      margin-left: 10px;
    }

    @include media-breakpoint-between(lg, xl) {
      width: px-to-rem(353);
      margin-left: 0;
    }
  }

  .product-name {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: px-to-rem(24);
    line-height: 120%;
    letter-spacing: 0%;
    color: $black;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: px-to-rem(10);

    @include media-breakpoint-down(sm) {
      margin-top: px-to-rem(20);
      margin-left: px-to-rem(20);
      margin-right: px-to-rem(20);
    }

    @include media-breakpoint-between(sm, md) {
      margin-top: px-to-rem(5);
      margin-left: px-to-rem(11);
      margin-right: px-to-rem(11);
    }

    @include media-breakpoint-between(md, lg) {
      margin-top: px-to-rem(0);
      margin-left: px-to-rem(11);
      margin-right: px-to-rem(11);
    }

    @include media-breakpoint-between(lg, xl) {
      margin-top: px-to-rem(0);
      margin-left: px-to-rem(11);
      margin-right: px-to-rem(11);
    }
  }

  .product-info {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-top: px-to-rem(10);
      margin-left: px-to-rem(20);
    }

    @include media-breakpoint-between(sm, md) {
      width: px-to-rem(338);
      height: px-to-rem(24);
      margin-left: px-to-rem(11);
    }

    @include media-breakpoint-between(md, lg) {
      width: px-to-rem(348);
      height: px-to-rem(24);
      margin-left: px-to-rem(11);
    }

    @include media-breakpoint-between(lg, xl) {
      width: px-to-rem(353);
      height: px-to-rem(24);
      margin-left: px-to-rem(11);
    }
  }

  .time-icon {
    width: px-to-rem(18);
    height: px-to-rem(18);
  }

  .price {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: px-to-rem(18);
    line-height: 100%;
    color: $black;
    margin-left: px-to-rem(7);
  }

  .sales {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: px-to-rem(15);
    line-height: 100%;
    color: $black;
    margin-left: px-to-rem(20);
  }

  .price-history {
    margin-top: px-to-rem(6);
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-left: px-to-rem(20);
    }

    @include media-breakpoint-between(sm, md) {
      height: px-to-rem(21);
      margin-top: px-to-rem(4);
      margin-left: px-to-rem(11);
      justify-content: space-between;
    }

    @include media-breakpoint-between(md, lg) {
      height: px-to-rem(21);
      margin-top: px-to-rem(4);
      margin-left: px-to-rem(11);
      justify-content: space-between;
    }

    @include media-breakpoint-between(lg, xl) {
      width: px-to-rem(303);
      height: px-to-rem(21);
      margin-top: px-to-rem(4);
      margin-left: px-to-rem(11);
      justify-content: space-between;
    }
  }

  .old-price {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: px-to-rem(15);
    line-height: 100%;
    color: $black;
    white-space: nowrap;
  }

  .strikethrough {
    text-decoration: line-through;
  }

  .rating {
    font-size: px-to-rem(20);
    line-height: 100%;
    color: #FFD942;
    margin-left: px-to-rem(15);
    display: flex;
    gap: px-to-rem(1);

    @include media-breakpoint-down(sm) {
      margin-left: px-to-rem(15);
    }

    @include media-breakpoint-between(sm, md) {
      margin-left: auto;
    }

    @include media-breakpoint-between(md, lg) {
      margin-left: auto;
    }

    @include media-breakpoint-between(lg, xl) {
      margin-left: auto;
    }
  }

  .buttons {
    margin-top: px-to-rem(20);
    display: flex;
    gap: px-to-rem(20);

    @include media-breakpoint-down(sm) {
      margin-left: px-to-rem(20);
      .add-to-basket,
      .delete-item {
        width: px-to-rem(138);
        height: px-to-rem(40);
        border-width: px-to-rem(1);
        border-radius: px-to-rem(10);
        padding: px-to-rem(10);
        gap: px-to-rem(10);
      }
    }

    @include media-breakpoint-between(sm, md) {
      margin-left: px-to-rem(11);
      margin-top: px-to-rem(5);
      gap: px-to-rem(10);
      .add-to-basket,
      .delete-item {
        width: px-to-rem(150);
      }
    }

    @include media-breakpoint-between(md, lg) {
      margin-left: px-to-rem(11);
      gap: px-to-rem(10);
      margin-top: px-to-rem(10);
      .add-to-basket,
      .delete-item {
        width: px-to-rem(160);
      }
    }

    @include media-breakpoint-between(lg, xl) {
      margin-left: px-to-rem(5);
      margin-top: px-to-rem(10);
      gap: px-to-rem(10);
      .add-to-basket,
      .delete-item {
        width: px-to-rem(165);
      }
    }
  }

  .add-to-basket,
  .delete-item {
    width: px-to-rem(165);
    height: px-to-rem(40);
    border: px-to-rem(1) solid $greyish;
    border-radius: px-to-rem(10);
    padding: px-to-rem(10);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: px-to-rem(16);
    line-height: 100%;
    color: $black;
    background-color: $white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: px-to-rem(10);
  }
}