<div class="top-section">
    <div class="cart-info">
        <span>There is nothing in the cart</span>
        <span>Select products or log in if you previously added items to cart</span>
    </div>
    <div class="login-info">
        <button>Log In</button>
        <button>To the main</button>
    </div>
</div>
<div class="cards-section">
    <div class="card-item">
        <div class="image-section"><img src="../../assets/images/svg/TestBasket.svg" alt="baskettest"></div>
        <span>NUOYAQI Men's Corduroy Crossbody Bag</span>
        <div class="top-info">
            <img src="../../assets/images/svg/Clock.svg" alt="clock">
            <span>68 $</span>
            <span>422 sold</span>
        </div>
        <div class="bottom-info">
            <span>Lowest recent price: 80$</span>
            <img src="../../assets/images/svg/Favorite.svg" alt="favorite">
            <img src="../../assets/images/svg/BlackCart.svg" alt="cart">
        </div>
    </div>
</div>