<div class="tab"></div>
  <div class="tab-header">
    <!-- Заголовок вкладки (если есть) -->
  </div>
  <div class="tab-content">
    <!-- По умолчанию отображаем основной контент, если нет дочернего маршрута -->
    <div class="processing-tab" *ngIf="showProcessingTab && !isNoactiveRoute">
      <!-- Первый блок -->
      <div class="processing-item">
        <div class="processing-image">
          <img src="assets/images/Bear.jpg" alt="Bear">
        </div>
        <div class="processing-actions">
          <a routerLink="./track">Track</a>
          <a routerLink="./buy-again">Buy this again</a>
        </div>
        <div class="processing-info">
          <span class="info-item">1 item: 3 $</span>
          <span class="info-time">Order Time: Nov 6, 2024</span>
          <span class="info-id">Order ID: PO-130-14393975201832636</span>
        </div>
      </div>

      <!-- Второй блок -->
      <div class="processing-item processing-item-second">
        <div class="processing-image-slider" #slider>
          <div class="slider-content">
            <div class="image-wrapper">
              <img src="assets/images/Crocodile.jpg" alt="Crocodile">
            </div>
            <div class="image-wrapper">
              <img src="assets/images/Knife.jpg" alt="Knife">
            </div>
            <div class="image-wrapper">
              <img src="assets/images/Katle.jpg" alt="Katle">
            </div>
            <div class="image-wrapper">
              <img src="assets/images/GumToy.jpg" alt="GumToy">
            </div>
          </div>
          <img class="slider-arrow-left" src="assets/images/LeftArrow.png" alt="Left Arrow" (click)="scrollLeft()">
          <img class="slider-arrow" src="assets/images/RightArrow.png" alt="Right Arrow" (click)="scrollRight()">
        </div>
        <div class="processing-actions">
          <a routerLink="./track">Track</a>
          <a routerLink="./buy-again">Buy this again</a>
        </div>
        <div class="processing-info">
          <span class="info-item">1 item: 3 $</span>
          <span class="info-time">Order Time: Nov 6, 2024</span>
          <span class="info-id">Order ID: PO-130-14393975201832636</span>
        </div>
      </div>
    </div>
    <!-- Рендерим дочерние маршруты (например, noactive) -->
    <router-outlet (activate)="onOutletActivated($event)"></router-outlet>
  </div>