$white: #FFFFFF;
$body-white: #ECECEC;
$border-white: #EFEFEF;
$black: #2E2E2E;
$green: #65E4A3;
$light-green: #9BE7C0;
$grey: #595858;
$sidebar-grey: #424242;
$light-grey: #B5B5B5;
$table-grey: #8F8F8F;
$breakpoints: (
    xs: 0,
    sm: 768,
    md: 1024,
    lg: 1500,
    xl: 1920,
    xxl: 3840
) !default;