<div class="tab">
    <div class="tab-header"></div>
    <div class="tab-content">
      <div class="my-profile-container">
        <div class="avatar-container">
          <div class="avatar-wrapper">
            <img src="assets/images/MiniBear.jpg" alt="Avatar" class="avatar-image">
          </div>
          <img src="assets/images/upload.png" alt="Upload" class="upload-icon">
        </div>
        <div class="info-section">
          <div class="name-section">
            <span class="name-label">first name</span>
            <div class="name-input">
              <span class="name-text">Женя</span>
              <img src="assets/images/tune.png" alt="Tune" class="tune-icon">
            </div>
          </div>
          <div class="last-name-section">
            <span class="name-label">last name</span>
            <div class="name-input">
              <span class="name-text">Тимофеев</span>
              <img src="assets/images/tune.png" alt="Tune" class="tune-icon">
            </div>
          </div>
        </div>
        <div class="public-address-section">
          <span class="name-label">public web address</span>
          <div class="name-input public-address-input-custom">
            <span class="name-text">https://www.figma.com</span>
            <img src="assets/images/tune.png" alt="Tune" class="tune-icon">
          </div>
        </div>
        <div class="about-me-section">
          <span class="name-label">about me</span>
          <div class="about-me-input"></div>
        </div>
        <div class="save-button-section">
          <button class="save-button">Save</button>
        </div>
      </div>
    </div>
  </div>