<div class="track-container">
  <div class="header">
    <img class="back-arrow" src="assets/images/arrowBack.png" alt="Back" (click)="goBack()">
    <h2>Track</h2>
  </div>
  <div class="track-graph">
    <div class="graph">
      <img src="assets/images/circle_green.svg" alt="Green Circle">
      <img src="assets/images/Line_grey.svg" alt="Line">
      <img src="assets/images/circle_grey.svg" alt="Grey Circle">
      <img src="assets/images/Line_grey.svg" alt="Line">
      <img src="assets/images/circle_grey.svg" alt="Grey Circle">
      <img src="assets/images/Line_grey.svg" alt="Line">
      <img src="assets/images/circle_grey.svg" alt="Grey Circle">
      <img src="assets/images/Line_grey.svg" alt="Line">
      <img src="assets/images/circle_grey.svg" alt="Grey Circle">
      <img src="assets/images/Line_grey.svg" alt="Line">
      <img src="assets/images/circle_grey.svg" alt="Grey Circle">
      <img src="assets/images/Line_grey.svg" alt="Line">
      <img src="assets/images/circle_grey.svg" alt="Grey Circle">
    </div>
    <div class="labels">
      <div class="label-item">
        <span class="label delivered">Delivered</span>
        <span class="sublabel delivered">April 10, 2024, 2:15 pm</span>
      </div>
      <div class="label-item">
        <span class="label">At The Post Office</span>
        <span class="sublabel">March 28, 2024, 10:30 am</span>
      </div>
      <div class="label-item">
        <span class="label">Being Handed Over By Customs</span>
        <span class="sublabel">March 15, 2024, 5:20 pm</span>
      </div>
      <div class="label-item">
        <span class="label">Arrived At The Destination Country</span>
        <span class="sublabel">March 5, 2024, 8:45 am</span>
      </div>
      <div class="label-item">
        <span class="label">Departure From Country</span>
        <span class="sublabel">February 20, 2024, 1:10 pm</span>
      </div>
      <div class="label-item">
        <span class="label">Order Shipped</span>
        <span class="sublabel">February 12, 2024, 11:55 am</span>
      </div>
      <div class="label-item">
        <span class="label">Order Submitted</span>
        <span class="sublabel">February 1, 2024, 3:40 pm</span>
      </div>
    </div>
  </div>
</div>