<span>Place an order</span>
<div class="page-section">
    <div class="left-container">
        <div class="address-container">
            <span class="caption">Add a new address</span>
            <div class="left-inputs">
                <span>First Name</span>
                <input type="text">
                <span>Country</span>
                <input type="text">
                <span>Address</span>
                <input type="text">
                <span>Postal Code</span>
                <input type="number">
            </div>
            <div class="right-inputs">
                <span>Last Name</span>
                <input type="text">
                <span>Phone</span>
                <input type="number">
                <span>City</span>
                <input type="text">
            </div>
            <button>Add</button>
        </div>

        <div class="newcard-container">

        </div>
    </div>
    <div class="cart-container">
        <img src="../../../assets/images/svg/CartTest.svg" alt="cart-test">
        <div class="text-row">
            <span>1 item</span>
            <span>68 $</span>
        </div>
        <div class="text-row">
            <span>Delivery</span>
            <span>1 $</span>
        </div>
        <div class="bottom-panel">
            <span>Place order</span>
            <span>69 $</span>
        </div>
    </div>
</div>