<span>Place an order</span>
<div class="page-section">
    <div class="left-container">
        <div class="address-container">
            <div class="top-inputs">
                <button>Evgeniy Timofeev</button>
                <button>+380 66 901 12 05</button>
                <button></button>
            </div>
            <section class="address">
                <span>Ismail 54</span>
                <span>с. Odessa, s/p. Odessa UA 65007, Ukraine</span>
            </section>
            <div class="buttons">
                <button>Select this</button>
                <button>Edit</button>
            </div>
            <span class="more">More...</span>
            <button class="add">Add</button>
        </div>
        <div class="card-container">
            <div class="cards-info">
                <div class="cards">
                    <div class="info">
                        <img src="../../../assets/images/svg/Mastercard.svg" alt="mastercard">
                        <span>Mastercard</span>
                    </div>
                    <div class="info">...9298</div>
                </div>
                <div class="cards">
                    <div class="info">
                        <img src="../../../assets/images/svg/Visa.svg" alt="visa">
                        <span>Visa</span>
                    </div>
                    <div class="info">...9298</div>
                </div>
                <div class="cards">
                    <div class="info">
                        <img src="../../../assets/images/svg/Mastercard.svg" alt="mastercard">
                        <span>Mastercard</span>
                    </div>
                    <div class="info">...5959</div>
                </div>
            </div>
            <div class="buttons-row">
                <div class="buttons">
                    <button>Select this</button>
                    <button>Edit</button>
                </div>
                <div class="buttons">
                    <button>Select this</button>
                    <button>Edit</button>
                </div>
                <div class="buttons">
                    <button>Select this</button>
                    <button>Edit</button>
                </div>
            </div>
            <button class="add">Add</button>
        </div>
        <div class="product-info">
            <img src="../../../assets/images/svg/CartTest.svg" alt="product">
            <div class="right-info">
                <span>Pair Charming Floral Stud Earrings - Vibrant Multiple</span>
                <div class="first-row">
                    <img src="../../../assets/images/svg/Clock.svg" alt="clock">
                    <span>68 $</span>
                    <span>422 sold</span>
                </div>
                <div class="second-row">
                    <span>Lowest recent price: 80$</span>
                    <span class="stars">★★★<i>★★</i></span>
                </div>
                <div class="third-row">
                    <button>Delete item</button>
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                    <span class="ftext">Delivery $ 68</span>
                    <span class="stext">23 - 25 May</span>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-container">
        <img src="../../../assets/images/svg/CartTest.svg" alt="product">
        <div class="text-row">
            <span>1 item</span>
            <span>68 $</span>
        </div>
        <div class="text-row">
            <span>Delivery</span>
            <span>1 $</span>
        </div>
        <div class="bottom-panel">
            <span>Place order</span>
            <span>69 $</span>
        </div>
    </div>
</div>