<div class="review-container">
  <div class="header">
    <img class="back-arrow" src="assets/images/arrowBack.png" alt="Back" (click)="goBack()">
    <h2>Leave a review</h2>
  </div>
  <div class="review-card">
    <img class="review-image" src="assets/images/Bear.jpg" alt="Review Image">
    <div class="review-text-block">
      <div class="review-text-header">
        <div class="review-info-row">
          <div class="review-info">
            <span>Sharing your thought and experience about this item</span>
          </div>
          <div class="review-product-info">
            <span>Product image</span>
          </div>
        </div>
        <div class="review-add-block">
          <textarea class="review-input" placeholder=""></textarea>
          <div class="review-add-details">
            <div class="review-add-label-row">
              <div class="review-add-label">
                <span>Add</span>
              </div>
              <textarea class="review-add-input" placeholder=""></textarea>
            </div>
            <div class="review-rating-row">
              <div class="review-rating-block">
                <div class="review-rating-label">
                  <span>Rating</span>
                </div>
                <div class="review-rating-stars">
                  <span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>
                </div>
              </div>
              <div class="review-publish-button">
                <span>Publish</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>