<div class="products-add-container">
  <h1 class="add-products-title">Add products</h1>
  <img src="assets/images/User.png" alt="Profile" class="profile-image" (click)="navigateToProfile()">
  <div class="product-row">
    <div class="product-name-container">
      <span class="product-name-text">Product name</span>
    </div>
    <button class="publish-button"><span>Publish</span></button>
  </div>
  <div class="content-row">
    <div class="description-container">
      <div class="description-field">
        <span class="description-text">Products description</span>
      </div>
      <div class="empty-field"></div>
    </div>
    <div class="sidebar-container">
      <div class="publish-container">
        <div class="publish-field">
          <span class="publish-text">publish</span>
        </div>
      </div>
      <div class="image-container">
        <div class="image-field">
          <span class="image-text">Product image</span>
        </div>
        <div class="image-upload-row">
          <div class="add-field">
            <span class="add-text">add</span>
          </div>
          <div class="upload-field"></div>
        </div>
      </div>
      <div class="gallery-container">
        <div class="gallery-field">
          <span class="gallery-text">Product gallery</span>
        </div>
        <div class="gallery-upload-row">
          <div class="add-field">
            <span class="add-text">add</span>
          </div>
          <div class="upload-field"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="data-container">
    <div class="data-field">
      <span class="data-text">Products data</span>
    </div>
    <div class="data-row">
      <div class="price-field">
        <span class="price-text">Price</span>
      </div>
      <span class="regular-price-text">Regular price</span>
      <div class="regular-price-field"></div>
    </div>
    <div class="data-row categories-row">
      <div class="price-field">
        <span class="price-text">Categories</span>
      </div>
      <span class="sale-price-text">Sale Price</span>
      <div class="regular-price-field"></div>
    </div>
    <div class="data-row sku-row">
      <div class="price-field">
        <span class="price-text">SKU</span>
      </div>
    </div>
    <div class="data-row quantity-row">
      <div class="price-field">
        <span class="price-text">Quantity</span>
      </div>
    </div>
  </div>
</div>