<section class="banner-main">
    <picture class="slogan">
        <source srcset="../../assets/images/SmallSlogan.svg" media="(max-width: 1024px)">
        <img src="../../assets/images/Slogan.svg" alt="slogan" class="slogan">
    </picture>
    <div class="banner-container">
        <a href="/">
            <p>TOP OFFERS OF THE WEEK</p>
            <img src="../../assets/images/Arrow.svg" alt="arrow">
        </a>
        <div class="bolls-wrapper">
            <div class="boll" *ngFor="let item of bolls">
                <div class="small-boll">{{ item.price }}</div>
                <div class="small-boll cart">
                    <img src="../../assets/images/Trolley.svg" alt="trolley" />
                </div>
                <img [src]="item.img" [alt]="item.alt">
            </div>
        </div>
    </div>
</section>