@use "../../assets/variables.scss" as *;
@use "../../assets/functions.scss" as *;

.banner-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: px-to-rem(39 100 0 100);
    padding: px-to-rem(442);
    max-height: px-to-rem(884);
    background: $black;
    border-radius: px-to-rem(60);

    @include media-breakpoint-between(1420, 1820) { padding: px-to-rem(380); }
    @include media-breakpoint-between(md, 1420) { padding: px-to-rem(300); }
    @include media-breakpoint-down(md) { display: none; }
    .slogan {
        position: absolute;
        top: px-to-rem(108);
        margin-left:px-to-rem(18); 

        @include media-breakpoint-between(1420, 1820) { width: px-to-rem(1200); }
        @include media-breakpoint-between(md, 1420) { width: px-to-rem(900); }
    }
    .banner-container {
        position: absolute;
        display:flex;
        flex-direction:column;
        bottom: px-to-rem(65);

        @include media-breakpoint-between(1420, 1820) { width: px-to-rem(1200); }
        @include media-breakpoint-between(md, 1420) { width: px-to-rem(900); }
        a {
            display:flex;
            align-items:center;
            gap:px-to-rem(13);
            margin-bottom:px-to-rem(28);
        }
    }
}