@use "../../assets/variables.scss" as *;
@use "../../assets/functions.scss" as *;

.banner-main {
    margin: px-to-rem(39 100 0 100);
    padding: px-to-rem(68);
    background: $black;
    border-radius: px-to-rem(60);

    @include media-breakpoint-down(md) {
        display:flex;
        flex-direction:column;
        align-items: center;
        text-align: center;
        margin: px-to-rem(42 16 0 16);
        padding: px-to-rem(42 20);
    }
    .slogan {
        margin-top: px-to-rem(40);
        width: 100%;

        @include media-breakpoint-down(md) { margin-top: px-to-rem(1); }
    }
    .banner-container {
        display: flex;
        flex-direction: column;
        margin-top: px-to-rem(70);
        padding: px-to-rem(0 9);

        @include media-breakpoint-down(md) { margin-top: px-to-rem(-11); }
        a {
            display: flex;
            align-items: center;
            gap: px-to-rem(13);
            white-space: nowrap;

            @include media-breakpoint-down(md) { margin-left: px-to-rem(-7); }
        }
        .bolls-wrapper {
            display: flex;
            justify-content: space-between;
            gap: px-to-rem(15);
            margin-top: px-to-rem(7);
            width: 100%;
            max-width: 100%;

            @include media-breakpoint-down(md) {
                margin: px-to-rem(-3 0 -29 3);
                .boll:not(:first-child) { display: none; }
            }
            .boll {
                position: relative;
                text-align: center;
                align-content: center;
                flex-shrink: 0;
                width: px-to-rem(286);
                height: px-to-rem(286);
                background: $grey;
                border-radius: 50%;

                .small-boll {
                    position: absolute;
                    top: px-to-rem(-2);
                    right: px-to-rem(25);
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1 1 auto;
                    aspect-ratio: 1 / 1;
                    width: px-to-rem(54);
                    background: $green;
                    border-radius: 50%;
                    font-size: px-to-rem(20);
                    font-weight: 600;
                }
                img {
                    width: auto;
                }
            }
        }
    }
}