@use "assets/functions.scss" as *;
$white: #FFFFFF;
$black: #2E2E2E;
$green: #65E4A3;
$grey: #595858;

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after { box-sizing: border-box; }
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-user-drag: none;
    user-select: none;
}
h1 {
    font-size: px-to-rem(128);
    font-weight: 400;
    color: $white;
}
h2 {
    font-size: px-to-rem(120);
    font-weight: 700;
    color: $green;
}
h3 {
    font-size: px-to-rem(64);
    font-weight: 400;
    color: $white;
}
h4 {
    font-size: px-to-rem(48);
    font-weight: 500;
    color: $white;
}
h5, p {
    font-size: px-to-rem(20);
    font-weight: 500;
}
h6 {
    font-size: px-to-rem(16);
    font-weight: 400;
    color: $white;
}
a {
    font-size: px-to-rem(20);
    font-weight: 500;
    color: $green;
}
header, nav {
    font-size: px-to-rem(24);
    font-weight: 400;
}
button {
    font-size: px-to-rem(24);
    font-weight: 400;
}