<nav>
  <ul>
    <li><a routerLink="/profile/login" routerLinkActive="active">Вход/Регистрация</a></li>
    <li><a routerLink="/profile/orders" routerLinkActive="active">Ваши заказы</a></li>
    <li><a routerLink="/profile/favorites" routerLinkActive="active">Избранное</a></li>
    <li><a routerLink="/profile/history" routerLinkActive="active">История просмотров</a></li>
    <li><a routerLink="/profile/coupons" routerLinkActive="active">Купоны</a></li>
    <li><a routerLink="/profile/chat" routerLinkActive="active">Чат</a></li>
    <li><a routerLink="/profile/reviews" routerLinkActive="active">Ваши отзывы</a></li>
    <li><a routerLink="/profile/addresses" routerLinkActive="active">Адреса доставки</a></li>
    <li><a routerLink="/profile/personal" routerLinkActive="active">Личные данные</a></li>
    <li><a routerLink="/profile/notifications" routerLinkActive="active">Уведомления</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>