<div class="account-settings-container">
    <h1 class="account-details-title">Account details</h1>
    <div class="fields-container">
      <div class="left-column">
        <div class="field-section">
          <span class="field-label">first name</span>
          <div class="field-input">
            <span class="field-text">John</span>
            <img src="assets/images/tune.png" alt="Tune" class="tune-icon">
          </div>
        </div>
        <div class="field-section">
          <span class="field-label">email</span>
          <div class="field-input">
            <span class="field-text">johnexample.com</span>
            <img src="assets/images/tune.png" alt="Tune" class="tune-icon">
          </div>
        </div>
        <div class="field-section">
          <span class="field-label">country</span>
          <div class="field-input">
            <span class="field-text">Ukraine</span>
            <img src="assets/images/tune.png" alt="Tune" class="tune-icon">
          </div>
        </div>
        <div class="field-section">
          <span class="field-label">address</span>
          <div class="field-input">
            <span class="field-text">123 Street</span>
            <img src="assets/images/tune.png" alt="Tune" class="tune-icon">
          </div>
        </div>
      </div>
      <div class="right-column">
        <div class="field-section">
          <span class="field-label">last name</span>
          <div class="field-input">
            <span class="field-text">Doe</span>
            <img src="assets/images/tune.png" alt="Tune" class="tune-icon">
          </div>
        </div>
        <div class="field-section">
          <span class="field-label">phone</span>
          <div class="field-input">
            <span class="field-text">+380 066 901 12 06</span>
            <img src="assets/images/tune.png" alt="Tune" class="tune-icon">
          </div>
        </div>
        <div class="field-section">
          <span class="field-label">city</span>
          <div class="field-input">
            <span class="field-text">Odesa</span>
            <img src="assets/images/tune.png" alt="Tune" class="tune-icon">
          </div>
        </div>
        <div class="field-section">
          <span class="field-label">password</span>
          <div class="field-input">
            <span class="field-text">***********</span>
            <img src="assets/images/tune.png" alt="Tune" class="tune-icon">
          </div>
        </div>
      </div>
    </div>
    <div class="buttons-container">
      <button class="delete-button">Delete account permanently</button>
      <button class="save-button">save</button>
    </div>
  </div>