<div class="statistic-container">
    <div class="main-field">
      <div class="header-field">
        <span class="product-name">Product name</span>
      </div>
      <div class="sub-fields">
        <div class="sub-field">
          <span class="sub-field-label">Views</span>
          <span class="sub-field-value">1</span>
        </div>
        <div class="sub-field">
          <span class="sub-field-label">Purchased</span>
          <span class="sub-field-value">0</span>
        </div>
        <div class="sub-field">
          <span class="sub-field-label">Favorite</span>
          <span class="sub-field-value">0</span>
        </div>
        <div class="sub-field">
          <span class="sub-field-label">Comments</span>
          <span class="sub-field-value">0</span>
        </div>
      </div>
    </div>
    <div class="main-field">
      <div class="header-field">
        <span class="product-name">Product name</span>
      </div>
      <div class="sub-fields">
        <div class="sub-field">
          <span class="sub-field-label">Views</span>
          <span class="sub-field-value">1</span>
        </div>
        <div class="sub-field">
          <span class="sub-field-label">Purchased</span>
          <span class="sub-field-value">0</span>
        </div>
        <div class="sub-field">
          <span class="sub-field-label">Favorite</span>
          <span class="sub-field-value">0</span>
        </div>
        <div class="sub-field">
          <span class="sub-field-label">Comments</span>
          <span class="sub-field-value">0</span>
        </div>
      </div>
    </div>
    <div class="main-field">
      <div class="header-field">
        <span class="product-name">Product name</span>
      </div>
      <div class="sub-fields">
        <div class="sub-field">
          <span class="sub-field-label">Views</span>
          <span class="sub-field-value">1</span>
        </div>
        <div class="sub-field">
          <span class="sub-field-label">Purchased</span>
          <span class="sub-field-value">0</span>
        </div>
        <div class="sub-field">
          <span class="sub-field-label">Favorite</span>
          <span class="sub-field-value">0</span>
        </div>
        <div class="sub-field">
          <span class="sub-field-label">Comments</span>
          <span class="sub-field-value">0</span>
        </div>
      </div>
    </div>
    <div class="pagination-row">
      <span class="pagination-text">rows per page</span>
      <div class="dropdown-container">
        <span class="dropdown-value">1</span>
        <img src="assets/images/arrow_drop_down.png" alt="Dropdown" class="dropdown-icon">
      </div>
      <span class="pagination-text">1 - 10 of 406</span>
      <img src="assets/images/first_page.png" alt="First Page" class="nav-icon">
      <img src="assets/images/keyboard_arrow_left.png" alt="Previous" class="nav-icon">
      <img src="assets/images/keyboard_arrow_right.png" alt="Next" class="nav-icon">
      <img src="assets/images/last_page.png" alt="Last Page" class="nav-icon">
    </div>
  </div>