@use "../assets/functions.scss" as *;

.header-nav {
    background: #333;
    padding: px-to-rem(10 20);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.header-nav ul {
    list-style: none;
    display: flex;
    justify-content: center; 
    gap: px-to-rem(15);
    padding: 0;
    margin: 0;
}
.header-nav a {
    text-decoration: none;
    color: #fff;
    font-size: px-to-rem(16);
    padding: px-to-rem(10 15);
    transition: 0.3s;
    border-radius: px-to-rem(5);
}
.header-nav a:hover, .header-nav a.active { background: #555; }
router-outlet {
    display: block;
    margin-top: px-to-rem(50);
}
.address-section {
    padding: px-to-rem(40 20);
    background-color: #ebebeb;
    border-radius: px-to-rem(10);
    box-shadow: px-to-rem(0) px-to-rem(4) px-to-rem(10) rgba(0, 0, 0, 0.1);
    margin: px-to-rem(80) auto px-to-rem(20);
    max-width: px-to-rem(800);
}
.container { text-align: center; }
.address-section h2 {
    font-size: px-to-rem(24);
    color: #333;
    margin-bottom: px-to-rem(15);
}
.section-content {
    font-size: px-to-rem(24);
    color: #555;
    line-height: 1.5;
}